<h1>new page</h1>

<button type="submit" id="start-btn">Start</button>
<button type="submit" id="stop-btn">Stop</button>
<button type="submit" id="save-btn">Save</button>

<%= javascript_pack_tag 'recording' %>